.plugins {
  width: 100%;
  padding: 10px;
}

.pluginDetails {
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 5px 10px;
  border: 1px solid black;
}

.enabledPlugin {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
}
