.plugins {
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.indicator {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 1px solid rgba(white, 0.8);

  &.isEnabled {
    background-color: green;
    box-shadow: 0 0 10px green;
  }

  &.isDisabled {
    background-color: red;
  }
}
