.nav {
  display: flex;
  background-color: darkblue;
  color: white;
  // border: 10px solid white;
  // border-width: 0 0 10px 0;

  .tab {
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    border-radius: 2px 2px 0 0;
    color: white;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    &.isActive {
      background-color: white;
      color: black;
    }

    &:not(.isActive):hover {
      background-color: rgba(white, 0.1);
    }
  }
}
