/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  overflow: hidden;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Fonts */
body,
input,
textarea,
select {
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}

input[type='text'],
input[type='number'] {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 2px;
  outline: none;

  &:focus,
  &:active {
    box-shadow: 0 0 10px rgba(darkblue, 0.2);
    border-color: darkblue;
  }
}

table {
  border-collapse: collapse;
}
